<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Heathskin - Deck Tracker</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://fb.me/react-0.13.2.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="content"></div>
<h2>Graveyard</h2>
<div id="graveyard"></div>
<script type="text/jsx" src="scripts/current_hand.js"></script>
<script type="text/jsx" src="scripts/graveyard.js"></script>

</body>
</html>
