<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h3 class="text-muted">Deck Constructor</h3>
            </div>
            <hr/>
            <div>

            <form>
                Enter card:<br>
                <input type="text" name="cardname" action="deck_maker" method="POST">
                <br>
                <input type="submit" value="Submit">
            </form>
