<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Heathskin</title>
</head>
<body>
    <h1 id="temphome-h1">Heh, Greetings {{ current_user.battletag }}!</h1>
    <h2 id="temphome-h2">Welcome to Heathskin</h2>
    <p id="temphome-subh1">A web application capable of providing useful game-tracking<br>in real-time, and statisticaly, over many games.</p>
    <nav class="temphome-links">
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/entity_dump">entity_dump</a></li>
        <li><a href="/universe_dump">universe_dump</a></li>
        <li><a href="/upload_lines">upload_lines</a></li>
        <li><a href="/history">history</a></li>
        <li><a href="/deck_list">deck_list</a></li>
        <li><a href="/current_hand">current_hand</a></li>
        <li><a href="/get_named_cards">get_named_cards</a></li>
        <li><a href="/upload_form">upload_form</a></li>
        <li><a href="/deck_maker">deck_maker</a></li>
        <li><a href="/start_session">start_session</a></li>
        <li><a href="/api/help">api/help</a></li>
    </nav>
    <footer id="temphome-foot-link">
        <a href="https://github.com/amckinley/heathskin">https://github.com/amckinley/heathskin</a><br>
        <p>current_user.get_id() returns: {{ current_user.get_id() }}</p>
    </footer>
</body>
</html>
