.hand-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.coin-placeholder {
    display:block;
    background:black;
    width:300px;
    height:30px;
    border: 1px solid black
}

.banner-image {
    padding-left: 100px;
    background:#000000;
    text-align:left;
    border:1px
    width:300px;
    height: 40px;
}

.banner-container {
    position: relative;
}

.banner-text {
    color: white;
    margin-left: -270px;
    margin-top: 15px;
    font-weight: bold;
    position: absolute;
}

.mana-gem {
    margin-left: -290px;
    position: absolute;
}
